---
# Disable Swap
- name: Disable swap
  command: swapoff -a
  when: ansible_swaptotal_mb > 0

- name: Remove swap from fstab
  lineinfile:
    path: /etc/fstab
    regexp: 'swap'
    state: absent

# SELinux
- name: Set SELinux to permissive
  selinux:
    policy: targeted
    state: permissive

# Kernel Modules
- name: Create k8s.conf for modules
  copy:
    dest: /etc/modules-load.d/k8s.conf
    content: |
      br_netfilter

- name: Load br_netfilter module
  modprobe:
    name: br_netfilter
    state: present

# Sysctl
- name: Configure sysctl for Kubernetes (iptables)
  sysctl:
    name: net.bridge.bridge-nf-call-iptables
    value: '1'
    state: present
    sysctl_file: /etc/sysctl.d/k8s.conf
    reload: yes

- name: Configure sysctl for Kubernetes (ip6tables)
  sysctl:
    name: net.bridge.bridge-nf-call-ip6tables
    value: '1'
    state: present
    sysctl_file: /etc/sysctl.d/k8s.conf
    reload: yes

- name: Configure sysctl for Kubernetes (ip_forward)
  sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    state: present
    sysctl_file: /etc/sysctl.d/k8s.conf
    reload: yes

# Firewall
- name: Stop and disable firewalld
  service:
    name: firewalld
    state: stopped
    enabled: no

# ISO Mount
- name: Create mount point
  file:
    path: "{{ mount_point }}"
    state: directory
    mode: '0755'

- name: Mount ISO
  mount:
    path: "{{ mount_point }}"
    src: "{{ iso_path }}"
    fstype: iso9660
    opts: loop
    state: mounted

# Local Repos
- name: Configure Local BaseOS Repo
  yum_repository:
    name: LocalRepo_BaseOS
    description: Local Repo BaseOS
    baseurl: "file://{{ mount_point }}/BaseOS"
    enabled: yes
    gpgcheck: no

- name: Configure Local AppStream Repo
  yum_repository:
    name: LocalRepo_AppStream
    description: Local Repo AppStream
    baseurl: "file://{{ mount_point }}/AppStream"
    enabled: yes
    gpgcheck: no

# K8s Repo
- name: Add Kubernetes YUM repository
  yum_repository:
    name: kubernetes
    description: Kubernetes
    baseurl: "https://pkgs.k8s.io/core:/stable:/{{ kubernetes_version }}/rpm/"
    enabled: yes
    gpgcheck: yes
    gpgkey: "https://pkgs.k8s.io/core:/stable:/{{ kubernetes_version }}/rpm/repodata/repomd.xml.key"

# CRI-O Repo
- name: Add CRI-O YUM repository
  yum_repository:
    name: cri-o
    description: CRI-O
    baseurl: "https://download.opensuse.org/repositories/isv:/cri-o:/stable:/{{ crio_version }}/rpm/"
    enabled: yes
    gpgcheck: yes
    gpgkey: "https://download.opensuse.org/repositories/isv:/cri-o:/stable:/{{ crio_version }}/rpm/repodata/repomd.xml.key"

# Install Dependencies
- name: Install dependencies
  yum:
    name:
      - yum-utils
      - bash-completion
      - iproute-tc
      - container-selinux
      - nfs-utils
    state: present

# Install K8s & CRI-O
- name: Install Kubernetes and CRI-O
  yum:
    name:
      - kubelet
      - kubeadm
      - kubectl
      - cri-o
    state: present
    disable_excludes: kubernetes

# Enable Services
- name: Enable and start kubelet
  service:
    name: kubelet
    enabled: yes
    state: started

- name: Enable and start cri-o
  service:
    name: crio
    enabled: yes
    state: started

# Configure Kubelet for CRI-O
- name: Configure kubelet crio args
  copy:
    dest: /etc/default/kubelet
    content: |
      KUBELET_EXTRA_ARGS="--container-runtime=remote --container-runtime-endpoint=unix:///var/run/crio/crio.sock"
  notify: Restart kubelet
