# Keycloak Values for EKS (Bitnami Legacy)
auth:
  adminUser: admin
  adminPassword: admin123
image:
  registry: docker.io
  repository: bitnamilegacy/keycloak
  tag: 26.3.3-debian-12-r0
  pullPolicy: IfNotPresent
ingress:
  enabled: true
  hostname: keycloak.ember-challenge.test
  ingressClassName: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/proxy-buffer-size: "128k"
  tls: true 
resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: 1000m
    memory: 1Gi
postgresql:
  image:
    registry: docker.io
    repository: bitnamilegacy/postgresql
    tag: 13.7.0-debian-11-r9
  primary:
    resources:
      requests:
        cpu: 250m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi
service:
  type: ClusterIP
