apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: modern-webapp
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/ember52/datavisyn-challenge.git
    targetRevision: HEAD
    path: charts/modern-webapp
    helm:
      valueFiles:
        - secrets://values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: apps
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
