apiVersion: v1
kind: Service
metadata:
  name: {{ include "modern-webapp.fullname" . }}-backend
  labels:
    app: {{ include "modern-webapp.fullname" . }}
    tier: backend
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8000
      protocol: TCP
      name: http
  selector:
    app: {{ include "modern-webapp.fullname" . }}
    tier: backend
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "modern-webapp.fullname" . }}-frontend
  labels:
    app: {{ include "modern-webapp.fullname" . }}
    tier: frontend
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    app: {{ include "modern-webapp.fullname" . }}
    tier: frontend
